@page
@using TMAWarehouse.DTOs
@model ItemListsModel

<h1>List of Items</h1>

<table class="table_">
    <thead>
        <tr>
            <th></th>
            <th>Item</th>
            <th>Status</th>
            <th>Quantity</th>
            <th>Price (PLN)</th>
            <th>Storage Location</th>
            <th>Contact Person</th>
            <th>Group</th>
            <th>
                <a class="btn btn-success" asp-area="" asp-page="/Coordinator/AddItem">Add Item</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Items.Any())
        {
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @if (item.PhotoBinary != null && item.PhotoBinary.Length > 0)
                        {
                            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.PhotoBinary))" alt="Item Photo" style="max-height: 70px;">
                        }
                        else
                        {
                            <img src="~/images/no_photo.jpg" alt="No Photo" style="max-height: 70px;">
                        }
                    </td>
                    <td>@item.ItemName</td>
                    <td>@item.ItemStatus</td>s
                    <td>@item.Quantity @item.MeasurementUnit</td>
                    <td>@item.PriceWithoutVat</td>

                    <td>@(item.StorageLocation ?? "-")</td>
                    <td>@(item.ContactPerson ?? "-")</td>
                    <td>@item.ItemGroup</td>
                    <td>
                        <form method="get" asp-page="/Coordinator/EditItem">
                            <input type="hidden" name="id" value="@item.ItemId" />
                            <button type="submit" class="btn btn-warning ">Edit</button>
                        </form>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="2">No items found.</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('.table_').DataTable();
        });
    </script>

}